<div>
    <app-header></app-header>
    <div class="grid body">
        <div class="col-1"></div>
        <div class="col-10 grid">

            <h2 class="col-12">Pricing</h2>

            <div class="col-8">
                <div>
                    <h3>Annual Subscription</h3>
                    <ul>
                        <li>$45 per year: Includes access to all website features and services.</li>
                        <Li>Each subscription comes with 5 tokens to get you started.</Li>
                    </ul>
                </div>

                <div>
                    <h3>Tokens</h3>
                    <ul>
                        <li>1 token = $1 (one-time payment per work submitted).</li>
                        <Li>A token is required for each work you submit for copyright proof.</Li>
                        <Li>Once you pay to submit a work (using one token), it remains valid indefinitely – no need to
                            pay
                            for the same work again in subsequent years.</Li>
                    </ul>
                </div>

                <div>
                    <h3>How It Works</h3>
                    <ol>
                        <li>Subscribe to our service for $45/year.</li>
                        <Li>Use your 5 complimentary tokens to submit your first works.</Li>
                        <Li>Purchase additional tokens as needed for $1 each, only for new submissions.</Li>
                    </ol>
                </div>

                <div>
                    <h3>Get Started Today</h3>
                    <p>
                        Take control of your creative rights and protect your hard work. Join our platform and ensure
                        that
                        your creations are safe, recognized, and respected.
                    </p>
                    <h3>Your creativity deserves protection. Let us be your ally.</h3>
                </div>
            </div>
            <div class="col-4">
                <img src="assets/images/Membership Card New Model2.png" />
                <img src="assets/images/token2.jpg" />
            </div>
        </div>

        <!-- 
        <div class="col-8">
                <h3>Annual Subscription</h3>
                <ul>
                    <li>$45 per year: Includes access to all website features and services.</li>
                    <Li>Each subscription comes with 5 tokens to get you started.</Li>
                </ul>
            </div>
            <img class="col-4" src="assets/images/c.png" />


            <div class="col-8">
                <h3>Tokens</h3>
                <ul>
                    <li>1 token = $1 (one-time payment per work submitted).</li>
                    <Li>A token is required for each work you submit for copyright proof.</Li>
                    <Li>Once you pay to submit a work (using one token), it remains valid indefinitely – no need to pay
                        for the same work again in subsequent years.</Li>
                </ul>
            </div>

            <div class="col-8">
                <h3>How It Works</h3>
                <ol>
                    <li>Subscribe to our service for $45/year.</li>
                    <Li>Use your 5 complimentary tokens to submit your first works.</Li>
                    <Li>Purchase additional tokens as needed for $1 each, only for new submissions.</Li>
                </ol>
            </div>

            <div class="col-8">
                <h3>Get Started Today</h3>
                <p>
                    Take control of your creative rights and protect your hard work. Join our platform and ensure that
                    your creations are safe, recognized, and respected.
                </p>
                <h3>Your creativity deserves protection. Let us be your ally.</h3>
            </div>
    </div> -->
    </div>
</div>