<app-header></app-header>
<div class="grid">
    <div class="col-1"></div>
    <div class="col-8">
        <h3>Deterrent effect</h3>
        <p>
            If you are a Subcontractor, a Web Agency, a Designer or a Consultant:
        </p>
        <p-card>
            In your communications, warn that your work has been protected, displaying our website url (it should
            deter your prospect/client from stealing your work).
            You can type the following text:<br>
            <img src="assets/images/myca.png" [style]="{'height': '8.4rem'}" />
            <img src="assets/images/c.png" />
        </p-card>

        <p-card>
            Upload the corresponding work on our website (Menu: “Upload a new original work”).
        </p-card>

        <p-card>
            <p>Send to your prospect/client the following message:</p>
            <p><b>Email title:</b> Copyright of the work I delivered<br>
                <b>Email message:</b> The files that you received are copyright protected using the website
                <a href="www.mycopyrightally.com">www.mycopyrightally.com.</a><br>
                <!-- check the link below works -->
                You can access this work via the following page: <a
                    href="www.mycopyrightally.com/show_evidence">www.mycopyrightally.com/show_evidence</a>,<br>
                using the credentials:<br>
                <b>Reference ID:</b><br>
                <b>Password:</b><br>
            </p>
        </p-card>

        <h3>Takedown Guide </h3>
        <p>
            For Books, eBooks, music, pictures, POD designs available on a commercial platform (Etsy, Amazon …):
        </p>

        <!-- <ul> -->
        <p-card>
            Contact the infringer and ask him to remove his infringing work. Show him an evidence that you are
            the copyright Owner, using one of these two methods:
            <ul>
                <li>
                    <b>first method:</b>
                    Send him the corresponding certificate at the pdf format, if you don’t want him to access your
                    files (for example, you don’t want him to get some elements included in your work).
                    You can get this certificate by clicking on “Download”, in the Menu My Account -> My Original
                    Works<br>
                    <!-- change the iage to a screenshot from my original works page -->
                    <img src="assets/images/c.png" [style]="{'height': '1.5rem'}" />
                </li>

                <li>
                    <b>second method:</b>
                    Send him the reference ID of your work and the corresponding password, so he can access your
                    work using our screen “Show an evidence”:
                    www.mycopyrightally.com/Show_evidence.php
                    He will be able to download your files.

                </li>
            </ul>
            At this stage, you don’t have to threaten him yet.
            Usually, this solves the problem and the infringer will withdraw his copy.
        </p-card>

        <p-card>
            If it is not enough, send him a Formal Notice letter.
            You can use the model below and adapt it to your case.
            Formal Notice letter
            Here, you will threaten him to have is account suspended on the online marketplace, if he doesn’t
            withdraw his copy in the next 24 hours.
        </p-card>

        <p-card>
            Contact the online marketplace (Amazon, Amazon KDP, Etsy …) and give them a temporary link to your
            work (30-day validity), obtained via the SHARE button. So they will be able to download your files and
            find out that you are the copyright Owner (in general, they are not allowed to type login and password
            on external websites, that’s why we have developed this SHARE ability).
            Explain them clearly in what there is a copyright infringement. They will judge the case and may suspend
            the infringer’s account.
            <ul>
                <li>
                    Take screenshots to prove the infringement.
                </li>

                <li>
                    If you have bought parts (pictures, music, book interior …) for your creation, join the
                    license agreements that entitle you the right to use these parts (if you didn’t upload them on
                    our site with your work). If you don’t do so, the online marketplace (Amazon, Etsy …) may reject
                    your takedown request.
                </li>
            </ul>
        </p-card>

        <p-card>
            If you are not successful, you may decide to sue them.
            <div class="accordion">
                <p-accordion>
                    <p-accordionTab header="Where to sue them?">
                        Here's an overview of where you can file legal action against a copyright infringing party
                        in
                        the USA, European Union, and the UK, including specialized courts like the CCB and IPEC:
                        <p-accordion>
                            <p-accordionTab header="United States">
                                <ol>
                                    <li>
                                        Copyright Claims Board (CCB):
                                        <ul>
                                            <li>
                                                <b>What it is:</b> A tribunal under the U.S. Copyright Office for small
                                                copyright
                                                claims.
                                            </li>
                                            <li>
                                                <b>Jurisdiction:</b> Claims of up to $30,000. Participation is voluntary
                                                for
                                                both parties.
                                            </li>
                                            <li>
                                                <b>When to use:</b> Ideal for resolving smaller disputes
                                                cost-effectively
                                                without going to federal court.
                                            </li>
                                            <li>
                                                <!-- change the link to the CCB portal -->
                                                <b>How to file:</b> File online through the <a
                                                    href="http://localhost:4200/actions-against-plagiarists">CCB
                                                    portal.</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        Federal Court:
                                        <ul>
                                            <li>
                                                <b>What it is:</b> The primary venue for copyright infringement cases in
                                                the
                                                U.S.
                                            </li>
                                            <li>
                                                <b>Jurisdiction:</b> Exclusive jurisdiction over copyright infringement
                                                cases.
                                            </li>
                                            <li>
                                                <b>When to use:</b> For significant cases, higher damages, or when
                                                injunctive
                                                relief is
                                                sought.
                                            </li>
                                            <li>
                                                <b>Where to file:</b> File in the federal district court where the
                                                defendant
                                                resides,
                                                conducts business, or where the infringement occurred.
                                            </li>
                                        </ul>
                                    </li>
                                </ol>
                            </p-accordionTab>

                            <p-accordionTab header="European Union">
                                <ol>
                                    <li>
                                        National Courts in EU Member States:
                                        <ul>
                                            <li>
                                                <b>What they are: </b> Each EU member state has its own national courts
                                                handling
                                                copyright infringement.
                                            </li>
                                            <li>
                                                <b>Jurisdiction:</b> Typically, the courts where the infringement
                                                occurred or
                                                where the defendant is domiciled.
                                            </li>
                                            <li>
                                                <b>When to use:</b> Cases must be filed under the national laws of the
                                                member
                                                state, harmonized by EU directives.
                                            </li>
                                            <li>
                                                <b>Example:</b> In Germany, cases are filed in specialized chambers for
                                                copyright disputes.
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        Court of Justice of the European Union (CJEU):
                                        <ul>
                                            <li>
                                                <b>What it is:</b> Not a first-instance court for disputes but can
                                                interpret EU
                                                copyright law.
                                            </li>

                                            <li>
                                                <b>When to use:</b> Only accessible through national courts referring
                                                questions
                                                on EU law.
                                            </li>
                                        </ul>
                                    </li>
                                </ol>
                            </p-accordionTab>

                            <p-accordionTab header="United Kingdom">
                                <ol>
                                    <li>
                                        Intellectual Property Enterprise Court (IPEC):
                                        <ul>
                                            <li>
                                                <b>What it is </b> A specialized court for intellectual property
                                                disputes,
                                                including copyright.
                                            </li>
                                            <li>
                                                <b>Jurisdiction:</b> Claims up to £500,000; offers streamlined
                                                procedures and
                                                capped costs.
                                            </li>
                                            <li>
                                                <b>When to use:</b> Ideal for small to medium-sized disputes or cases
                                                requiring
                                                expedited handling.
                                            </li>
                                            <li>
                                                <b>Where to file:</b> IPEC is part of the High Court of England and
                                                Wales.
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        High Court (Chancery Division):
                                        <ul>
                                            <li>
                                                <b>What it is:</b> The main venue for high-value or complex copyright
                                                cases.
                                            </li>

                                            <li>
                                                <b>Jurisdiction:</b> No monetary cap, broader procedural rules than
                                                IPEC.
                                            </li>

                                            <li>
                                                <b>When to use:</b> For large-scale infringement cases or those
                                                exceeding IPEC's
                                                jurisdictional limits.
                                            </li>
                                        </ul>
                                    </li>
                                </ol>
                            </p-accordionTab>
                        </p-accordion>

                        <h4>Factors to Consider</h4>
                        <ul>
                            <li>
                                <b>Jurisdiction: </b>File in the country where the infringement occurred or where the
                                infringer resides.
                            </li>

                            <li>
                                <b>Costs: </b>Courts like the CCB and IPEC offer cost-effective alternatives for smaller
                                claims.
                            </li>

                            <li>
                                <b>Legal Advice: </b>Consulting an intellectual property attorney in the relevant
                                jurisdiction is recommended for complex cases.
                            </li>
                        </ul>
                    </p-accordionTab>
                </p-accordion>
            </div>
        </p-card>

        <p>
            If you are a Subcontractor, a Web Agency, a Designer or a Consultant:
            As a deterrent effect you have already uploaded your work on our website, and warn your prospect/client
            about this, by email.
        </p>

        <p-card>
            Now that they have infringed your copyright rights, send him a Formal Notice letter.
            You can use the model below and adapt it to your case.
        </p-card>

        <p-card>
            If you don’t get what you claimed (takedown, or payment for your work), gather all the proofs that they
            stole your work (using screenshots of their website, as explained below) and sue them.
        </p-card>

        <!-- this appears in the characterization:
        LEGAL DISCLAIMER (see the attached document in appendix). I will give you this text once we work together. -->
        
        <h3>About the screenshots: how-to instructions</h3>

        <p-card>
            <ol>
                <li> Take one or several screenshots proving the misuse of intellectual property.</li>
                <li> If you have several files, zip them together.</li>
                <li> In order to demonstrate the existence of a specific content at a specific time, timestamp this
                    file/zip file by uploading it on www.MyCopyrightAlly.com , using the Menu “Upload a new original
                    work”.</li>
            </ol>

        </p-card>

    </div>
    <div class="col-1"></div>
</div>