<div class="body">
    <app-header></app-header>
    <div class="grid">
        <div class="col-1"></div>
        <div class="col-10">

            <div class="row grid">
                <div class="col-1"></div>
                <img src="assets/images/american-flag-15159486.jpg" class="col-2">
                <p class="col-5">Company registered in the USA:<br>
                    Name and address here
                </p>
                <img src="assets/images/Map_NM2.png" class="col-2">
                <div class="col-1"></div>
            </div>

            <div class="row grid">
                <div class="col-1"></div>
                <img src="assets/images/Stripe.png" class="col-2">
                <p class="col-5">
                    Payments secured via Stripe
                    Your credit card number is not stored on
                    our website. Only Stripes knows it.
                </p>
                <img src="assets/images/Stripe2.png" class="col-2">
                <div class="col-1"></div>
            </div>

            <div class="row grid">
                <div class="col-1"></div>
                <img src="assets/images/100-percent-money-back2_14050050.jpg" class="col-2">
                <p class="col-5">
                    14-day money back guarantee
                </p>
                <img src="assets/images/100-satisfaction-guaranteed-_8088182.jpg" class="col-2">
                <div class="col-1"></div>
            </div>

            <div class="row grid">
                <div class="col-1"></div>
                <img src="assets/images/05_minutes.jpg" class="col-2">
                <p class="col-5">
                    Copyright protection in a few minutes,
                    valid in 180 countries
                </p>
                <img src="assets/images/world-map_102943.jpg" class="col-2">
                <div class="col-1"></div>
            </div>

            <div class="row grid">
                <div class="col-1"></div>
                <img src="assets/images/customer-service_211023.jpg" class="col-2">
                <p class="col-5">
                    Free support in English and French
                </p>
                <img src="assets/images/american-flag-15159486.jpg" class="col-2">
                <img src="assets/images/France_flag.jpg" class="col-2">
            </div>

            <div class="row grid">
                <div class="col-1"></div>
                <img src="assets/images/confidential2_29926660.jpg" class="col-2">
                <p class="col-5">
                    Confidential
                </p>
                <img src="assets/images/watch-symbol2.png" class="col-2">
                <div class="col-1"></div>
            </div>

            <div class="row grid">
                <div class="col-1"></div>
                <img src="assets/images/data-server-security2.jpg" class="col-2">
                <p class="col-5">
                    You have a safe copy of your work,
                    (backup via AWS - Amazon Web Services)
                </p>
                <img src="assets/images/Amazon_Web_Services.png" class="col-2">
                <div class="col-1"></div>
            </div>

            <div class="row grid">
                <div class="col-1"></div>
                <img src="assets/images/copyright-protection_146866.jpg" class="col-2">
                <p class="col-5">
                    Protect your books, pictures,
                    music (lyrics and melody),
                    designs, software, …
                </p>
                <img src="assets/images/Copyright-brochure2.jpg" class="col-2">
                <div class="col-1"></div>
            </div>

            <div class="row grid">
                <div class="col-1"></div>
                <img src="assets/images/190305_03_email.jpg" class="col-2">
                <p class="col-5">
                    Easily warn your clients and prospects
                    that your work is registered
                </p>
                <img src="assets/images/copyright-law_10376640.jpg" class="col-2">
                <div class="col-1"></div>
            </div>

            <div class="row grid">
                <div class="col-1"></div>
                <img src="assets/images/recommended.jpg" class="col-2">
                <p class="col-5">
                    ecommended by Lawyers, Authors,
                    Web Consultants, Artists,
                    Designers and Content Creators
                </p>
                <img src="assets/images/Lawyer2.jpg" class="col-2">
                <div class="col-1"></div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>